.venv/
*.sqlite3
__pycache__/
staticfiles/
.env
env/
venv/
ENV/
uv.lock
*.db
.env.local
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
staticfiles\admin
uv.lock
